:root {
  --section-overlay: rgba(0, 0, 0, 0.9);
  --background-overlay: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 800px;
  display: flex;
  margin: 0px;
  padding: 0 d;
  height: 100%;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: column;
  /* background-color: var(--section-overlay) */
}

/* Top */

.section {
  width: 100%;
  padding: 1rem;
  border-radius: 0.2rem;
  color: darkblue;
  color: white;
  margin-top: 15px;
}
.section_inputs{
   display: flex;
   justify-content: space-between;
   
   background-color: #31255a;
}

.section_temp {
  display: flex;
  justify-content: space-between;
   
  background-color: #31255a;
}


.section_inputs > input {
  border: 0.8px solid white;
  border-radius: 0.4rem;
  background-color: white;
  color: black;
}

.section_inputs > input:focus {
  outline: none;
}

.section_inputs > button {
  padding: 10px 30px;
  border: none;
  background-color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 0.5rem;
}

.section_inputs > button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.temp > h1 {
  text-align: center;
}
